body {
  padding: 0;
  margin: 0;
}

.footer {
  display: grid;
}

.footer a {
  text-decoration: none;
  color: white;
}

.top {
  display: grid;
  grid-template-columns: 200px 2px 200px 2px 200px;
  justify-content: center;
  justify-items: center;
  position: relative;
  align-items: center;
}

.divider {
  background: black;
  width: 1px;
  height: 90px;
}

.block {
  padding: 0 20px;
  margin: 20px 0;
}

.block:nth-child(1) {
  display: grid;
  justify-items: center;
}

.block > p {
  width: 120px;
  font-size: 16px;
  line-height: 18px;
}

.block > p:first-child {
  font-weight: bold;
}

.social-media-icons {
  display: flex;
  justify-content: space-between; 
  width: 70px;
}
.instagram-icon {
  width: 12px;
  height: 12px;
}

.bottom {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.bottom p {
  font-size: 14px;
  line-height: 16px;
}

@media only screen and (max-width: 800px) { 
  .bottom p {
    font-size: 12px;
    line-height: 14px;
  }

  
}

