@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
@import url('./animations.css');
@import url('./contact-us.css');
@import url('./facilities.css');
@import url('./footer.css');
@import url('./home.css');
@import url('./nav.css');
@import url('./rooms-and-rates.css');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	transition: all 0.4s;
}

/* Clearfix (clear floats) */
.row::after {
	content: '';
	clear: both;
	display: table;
}

.row {
	overflow: hidden;
}

.content-1 {
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
	color: black;
	width: 100%;
	padding: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.content-1 h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

.content-1 p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.text-center {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.text-center span {
	border-bottom: 1px solid black;
	padding-bottom: 4px;
}

.book-now {
	background-color: #000000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin-bottom: 25px;
	margin-top: 25px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.column {
	padding: 10px;
	float: left;
	width: 33.33%;
	padding: 25px;
	position: relative;
	margin: 0 auto;
}

.column img {
	vertical-align: middle;
}

@media screen and (max-width: 500px) {
	.column {
		width: 100%;
		margin-bottom: 2rem;
		padding: 15px;
	}

	.center {
		margin-top: 0;
	}
}

.container {
	text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
	content: '';
	clear: both;
	display: table;
}

.content-1 {
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8); /* Black background with 0.5 opacity */
	color: black;
	width: 100%;
	padding: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.content-1 h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

.content-1 p {
	/* font-weight: 100; */
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.text-center {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.text-center span {
	border-bottom: 1px solid black;
	padding-bottom: 4px;
}

.book-now {
	background-color: #000000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin-bottom: 25px;
	margin-top: 25px;
}

.col-sm-4 {
	padding: 10px;
}
