/* CSS Responsive Grid View */
* {
  box-sizing: border-box;
}

html, body {
  padding:0;
  margin:0;
}

/* CSS FOR ROOM PAGE ONLY */
.cover {
  background-image: url("../images/bedroom-1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 86.81vh;
 }

 .descritption {
     margin: 0 auto;
     text-align: center;
     width: 43%;
     line-height: 1.5;
     margin-top: 5%;
 }

 .row {
   display: grid;
   grid-template-columns: 50% 50%;
   
 }

 .column1-item {
   margin: 15% 5%;
   line-height: 2;
   
 }

 .column1-item > h3 {
   margin-left: 23px;
 }

 .column2-item {
   margin: 10% 5%;
   display: grid;
   grid-template-columns: 50% 50%;
 }

 .img-dimension {
  width: 260px;
  height: 260px;
}

.room-features > h3 {
  margin-top: 50px;
}

.room-size {
  display: inline-block;
  padding: 0px 5px;
}
.room-fee {
  margin-bottom: 0px;
}

.button {
  background-color: black;
  margin-top: 15px;
  margin-left: 130px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* CSS FOR FOOTER  */
.footer {
  display: grid;
}

.footer a {
  text-decoration: none;
  color: white;
}

.top {
  display: grid;
  grid-template-columns: 200px 2px 200px 2px 200px;
  justify-content: center;
  justify-items: center;
  position: relative;
  align-items: center;
}

.divider {
  background: black;
  width: 1px;
  height: 90px;
}

.block {
  padding: 0 20px;
  margin: 20px 0;
}

.block:nth-child(1) {
  display: grid;
  justify-items: center;
}

.block > p {
  width: 120px;
  font-size: 16px;
  line-height: 18px;
}

.block > p:first-child {
  font-weight: bold;
}

.social-media-icons {
  display: flex;
  justify-content: space-between; 
  width: 70px;
}
.instagram-icon {
  width: 12px;
  height: 12px;
}

.bottom {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.bottom p {
  font-size: 14px;
  line-height: 16px;
}

/* MEDIA QUERY FOR ROOMS PAGE ONLY */
@media only screen and (max-width: 850px){
  .row {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .column1-item > h3, h2, .column1-item > span {
    display: block;
    text-align: center;
  }

  .column1-item {
    margin: 50px 15px;
  }

  .welcome-message {
    text-align: center;
  }

  .room-features > h3 {
      margin-top: 10px;
  }

}

  @media screen and (max-width: 980px) {
    .img-dimension {
      width: 260px;
      height: 260px;
    }

    .column2-item {
      margin: 10% 5%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .button {
      margin: 0 auto;
    }


  }
  
  @media screen and (max-width: 1208px) {
    .column2-item{
      margin: 7% 5%;
    }

    .room-features > h3 {
      margin-top: 30px; 
    }

    ul {
      margin: 0 15%;
      line-height: 2;
    }

    .img-dimension {
      width: 200px;
      height: 200px;
    }

    .button {
      margin-left: 0px;
    }
}


/* KINDLY ADD THE MEDIA QUERY FOR FOOTER BELOW FOR RESPONSIVESNESS */
