/*Contact Us Page */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.border-img{
position: relative;
width: 100vw;
height: 70vh;
}
img {
    width:100vw;
    height:100%;
    object-fit: cover;
}
    

/* donald-teel-CFyJZMDyJJY-unsplash 1 */
#main-container{
    display:flex;
    position: relative;
    Justify-content: space-between;
  Padding: 5vw;
    font-size: 18px;
}
input{ 
    border:none;
    border-bottom: 1px solid black;
    }