* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

/* Navbar section : made by @Taiwo, Taiwo Ogunola, uniqueomokenny@gmail.com */
.nav-menu {
	background-color: #fff;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-menu > .nav-container {
	padding: 15px 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
}

.menu-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.menu-nav.main-menu {
	margin-left: 28%;
}

.menu-nav.ml-auto {
	margin-left: auto;
}

.menu-nav .menu-item a.menu-link {
	text-decoration: none;
	outline: none;
	background-color: transparent;
	color: #000000;
	padding: 0.9rem;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

.menu-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	display: none;
}

.line1,
.line2,
.line3 {
	width: 23px;
	height: 3px;
	margin: 5px;
	background-color: #c2c2c2 !important;
	transition: all 0.3s;
}

.menu-toggler:focus {
	outline: 0 !important;
}

.change .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
	opacity: 0;
}

.change .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.menu-container {
	flex-grow: 2;
	display: flex;
	justify-content: center;
}

.book-now-btn {
	width: 149px;
	height: 65px;
	background: #000000;
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	border: none;
}

@media (min-width: 992px) {
	.nav-menu {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	.nav-menu > .nav-container {
		flex-wrap: nowrap;
	}

	.menu-nav {
		flex-direction: row;
	}
}
/* Navbar end */

/* Clearfix (clear floats) */
.row::after {
	content: '';
	clear: both;
	display: table;
}

.content-1 {
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8); /* Black background with 0.5 opacity */
	color: black;
	width: 100%;
	padding: 20px;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.content-1 h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

.content-1 p {
	/* font-weight: 100; */
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.text-center {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	/* text-decoration-line: underline;
    text-decoration-style: none;   */
	margin-bottom: 50px;
	margin-top: 50px;
}

.text-center span {
	border-bottom: 1px solid black;
	padding-bottom: 4px;
}

.book-now {
	background-color: #000000; /* black */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin-bottom: 25px;
	margin-top: 25px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.col-sm-4 {
	padding: 10px;
}
